# Llaves y credenciales
service_account_key.json
*service_account*.json
dbt-exam-group-*.json
profiles.yml
.env

# ID local de dbt 
.user.yml

# Entorno y salidas de dbt
venv/
target/
logs/
dbt_packages/
__pycache__/
*.pyc
